<div class="page__about">

    {% include header-inactive.html %}

    <main class="about__content" aria-label="Content">
        <a class="about__trigger" href="/" data-name="home"></a>
        <div class="introduction">
            <div class="introduction__callout">
                <p>
                    We are a creative agency crafting experiences that speak the language of today.
                </p>
            </div>
            <!-- <p>
                Sounds squeaky clean, right? Well, to us, that’s what makes good ideas, great. Not because they’re clean, but because pure is simple. Purity is devoid of clutter yet remains complex. In a world full of chatter and distraction, we want to push all that to the side.
              </p> -->
        </div>
        <hr>
        <div class="services">
            <div class="about__title">
                <p class="p--black">Services</p>
                <p class="p--orange">&mdash;</p>
            </div>
            <ul class="services__list">
                <li>Identity</li>
                <li>Strategy</li>
                <li>Web Design</li>
                <li>Social</li>
                <li>Art Direction</li>
                <li>SEO</li>
                <li>Paid Advertisement</li>
                <li>Consulting</li>
            </ul>
        </div>
        <hr>
        <div class="process">
            <div class="about__title">
                <p class="p--black">Our Process</p>
                <p class="p--orange">&mdash;</p>
            </div>
            <p>
                We like great ideas. But what we like even more? Creating focused, and targeted great ideas. We think that emphasizing purity — both in process and output — produces the best work. Lifting the veil on your brand’s true essence leads to clear objectives; and keeping the process simple allows us to effectively deliver on those objectives.
            </p>
            <p>
                We research, ideate, then execute.
            </p>
            <p class="p--orange">
                That’s all. No magic, no unicorns, just results.
            </p>
        </div>
        <hr>
        {% include contact.html %}
    </main>

</div>
