<div class="page__about">

    {% include header.html %}

    <main class="about__content about--active" aria-label="Content">
        <a class="about__trigger about__trigger--disable" href="/" data-name="home"></a>
        <div class="introduction">
            <div class="introduction__callout">
                <p>
                    We are a creative agency crafting experiences that speak the language of today.
                </p>
            </div>
        </div>
        <hr>
        <div class="services">
            <div class="about__title">
                <p class="p--black">Services</p>
                <p class="p--orange">&mdash;</p>
            </div>
            <ul class="services__list">
                <li>Identity</li>
                <li>Strategy</li>
                <li>Web Design</li>
                <li>Social</li>
                <li>Art Direction</li>
                <li>SEO</li>
                <li>Paid Advertisement</li>
                <li>Consulting</li>
            </ul>
        </div>
        <hr>
        <div class="process">
            <div class="about__title">
                <p class="p--black">Our Process</p>
                <p class="p--orange">&mdash;</p>
            </div>
            <p>
                We like great ideas. But what we like even more? Creating focused and targeted, great ideas. We think that emphasizing purity — both in process and output — produces the best work. Lifting the veil on your brand’s true essence leads to clear objectives; and keeping the process simple allows us to effectively deliver on those objectives.
            </p>
            <p>
                We research, ideate, then execute.
            </p>
            <p class="p--orange">
                That’s all. No magic, no unicorns, just results.
            </p>
        </div>
        <hr>
        <div class="contact" id="contact">
            <div class="about__title">
                <p class="p--black">Work With Us</p>
                <p class="p--orange">&mdash;</p>
            </div>
            <div class="hr--small"></div>

            <div class="form__toggle">
                <div class="toggle__item">
                    <input type="radio" name="form__toggle" id="form__toggle--business" checked>
                    <label for="form__toggle--business" id="form__toggle--business--label" class="form__toggle--label">Business Inquiry</label>
                    <input type="radio" name="form__toggle" id="form__toggle--general">
                    <label for="form__toggle--general" class="form__toggle--label">General Inquiry</label>
                    <form id="form__contact" action="https://formspree.io/jeff@kubonyc.com"
      method="POST">
                        <div class="input__container">
                            <label for="Name">Name*</label>
                            <input type="text" name="Name" id="name" value="" tabindex="1" required>
                        </div>
                        <div class="input__container">
                            <label for="Email">Email*</label>
                            <input type="text" name="Email" id="email" value="" tabindex="2" required>
                        </div>
                        <div class="input__container business--visible" id="company__field">
                            <label for="Company">Company*</label>
                            <input class="require-business" type="text" name="Company" id="company" value="" tabindex="3">
                        </div>
                        <div class="input__container business--visible">
                            <label for="Phone">Phone</label>
                            <input type="text" name="Phone" id="phone" value="" tabindex="4">
                        </div>
                        <div class="input__container--wide business--visible">
                            <fieldset class="input__services">
                                <legend>How would you like us to collaborate?*</legend>
                                <ul class="input__services--list">
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="Identity" value="Identity" tabindex="5">
                                        <label for="Identity">Identity</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="Strategy" value="Strategy" tabindex="6">
                                        <label for="Strategy">Strategy</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="WebDesign" value="Web Design" tabindex="7">
                                        <label for="WebDesign">Web Design</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="Social" value="Social" tabindex="8">
                                        <label for="Social">Social</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="ArtDirection" value="Art Direction" tabindex="9">
                                        <label for="ArtDirection">Art Direction</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="SEO" value="SEO" tabindex="10">
                                        <label for="SEO">SEO</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="PaidAdvertisement" value="Paid Advertisement" tabindex="11">
                                        <label for="PaidAdvertisement">PaidAdvertisement</label>
                                    </li>
                                    <li class="services__list--item">
                                        <input type="checkbox" name="service" id="Consulting" value="Consulting" tabindex="12">
                                        <label for="Consulting">Consulting</label>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                        <div class="input__container--wide business--visible">
                            <label for="Goals">What are your goals? How will you measure success?*</label>
                            <textarea class="require-business" name="Goals" id="Goals" tabindex="13"></textarea>
                        </div>
                        <div class="input__container--wide business--visible">
                            <label for="Deadline">When can we start?</label>
                            <input type="text" name="Deadline" id="Deadline" value="" tabindex="14">
                        </div>
                        <div class="input__container--wide business--visible">
                            <label for="Additional">Anything Else?</label>
                            <textarea name="Extra Info" id="Additional" tabindex="15"></textarea>
                        </div>
                        <div class="input__container--wide" id="message__field">
                            <label for="Message">Message*</label>
                            <textarea class="require-general" name="Message" id="Message" tabindex="3"></textarea>
                        </div>
                        <input type="submit" id="form__contact--submit">
                    </form>
                </div>
            </div>
        </div>
    </main>

</div>
